 .form-box{
   height: 450px;
     transform: translate(-50%,-50%) scale(1);
     clip-path:polygon(17% 0px, 101% 0px, 101% 101%, 99.67% 87.44%, 83% 101%, 0px 101%, 0% 0px, 3px 13.67%);
 }
 .form-box::before {
  content: "";
  position: absolute;
  inset: 0;
  width: 75PX;
  height: 65px;
  transform: rotate(13deg);
  top: -17px;
  left: -4px;
  border-bottom-right-radius: 10px;
}
.form-box::after{
  bottom: 15px;
  right: -12px;
  transform: rotate(331deg);
  width: 104px;
}

.close-btn{
 top:5px;
 left: 23px;
}
.close-btn:hover{
  top: 18px;
  left: 32px;
  width: 30px;
  height: 30px;
  font-size: 19px;
}
