.animi{
  transition: all 0.7s cubic-bezier(0.42, 0, 0.3, 0.76);
}

.form-box
{
    height:auto;
    transform: translate(-50%,-50%) scale(1)
}
.close-form{

  animation: closeform 1s ease-in-out;
}
  .form-box::before {
    width: 76PX !important;
    height: 69px !important;
    border-bottom-right-radius:10px;
 transform: rotate(0deg);
    top: 0px;
  left: 0;

  }
  .form-box::after {
    bottom: 32px;
    right: -20px;
    z-index: 4;
    height: 2px;
    transform: rotate(318deg);
    width: 104px;
}
.close-btn{
  top: 22px;
  left: 29px;
}
.close-btn:hover{
  top: 30px;
    left: 37px;
}
@keyframes closeform{
0%{
   transform: translate(-50%,-50%) scale(0);
}
100%{
 transform:  translate(-50%,-50%) scale(1);
}
}
.indecator{
  height: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-block: 10px ;
   gap: 2px;
}
.indecator span{
 flex: 1;
 height: 100%;
 background-color: #313143;
 border-radius: 5px;
 position:relative;
 transition:  0.7s ease;
}
.indecator span::before{
 content: '';
 position: absolute;
 top: 0;
 left: 0;
 width: 0%;
 height: 100%;
 transition:  0.7s ease;
 border-radius: 5px;
}
.indecator span.active.weak::before{
  background: #ff4757;
  width: 100%;
}
.indecator span.active.medium::before{
  background: #ffa500;
  width: 100%;
}
.indecator span.active.strong::before{
  background: #23ad5c;
  width: 100%;
}
.text{
font-size: 18px;
font-weight: bold;
}
.text span{
font-size: 20px;
font-weight: bolder;
color: #ff4757;
}
.buttons{
  border-top:2px solid #3d537b;
  margin-top: 40px;
}
.test-white,.test-white2
{
  margin-top: 24px;
    margin-bottom: 20px;
    border-radius: 19px;
}
.test-white{
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.test-white2{
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.f-btn{
  margin-top: 15px;
  width: 45%;
}
