<!-- -------------------search----------------- -->
<div class="mt-1">
  <div class="flexbox">
    <div class="search" [class.show]="showSearch">
      <div>
        <input #fil [(ngModel)]="word"  type="text" placeholder="Search . . ." required >
      </div>
    </div>
  </div>
</div>
<!-- ------------------- table of users ----------------- -->
<div class="">
  <table class=" text-center  w-100" (mousemove)="handelMove($event)">
    <thead>
      <tr >
        <th #th  *ngFor="let head of tableHead" data="">{{head}}
          <span class="sort-arrow" *ngIf="head!=='Action'&&head!=='Avatar' &&head!=='Notes' ">
            <i  *ngIf="sortDirectionIcon"   class="fa-solid fa-arrow-up-wide-short" (click)="sortingup('up',th)"></i>
            <i  *ngIf="!sortDirectionIcon"   class="fa-solid fa-arrow-down-short-wide" (click)="sortingup('down',th)"></i>
          </span>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr  *ngFor="let customer of customerList|multiSearchCustom:word :'Name' :'phoneNumber' :'category' " >
        <td (mousemove)="handelMove($event)"   name="Name">{{customer.Name}}</td>
        <td (mousemove)="handelMove($event)"  name>
          <img class="avatar-image-table" src={{customer.imageUrl}} alt="imageUrl">
          </td>
          <td (mousemove)="handelMove($event)"   name="phoneNumber"> {{customer.phoneNumber}}</td>
          <td class="gender-font"(mousemove)="handelMove($event)"   name="gender">{{customer.gender ==='male'?'🧑‍💼':'🧕'}}</td>
        <td (mousemove)="handelMove($event)"  >{{customer.category}}</td>
        <td (mousemove)="handelMove($event)"   name="Note">{{customer.Note===""?"good user":customer.Note}}</td>
        <td (mousemove)="handelMove($event)">
            <div class="Action">
              <a class="edit mx-2"(click)="updateUser(customer)" >
                <img src="../../assets/images/user-edite.png" alt="">
               </a>
              <span (click)="deleteUser(customer.id)">
                  <span style="overflow:hidden;">
                      <span class="trash">
                      <span class="center-trush"></span>
                      </span><b></b>
                      <span></span>
                   </span>
               </span>

            </div>
        </td>
      </tr>

    </tbody>
    <div class="tools">
      <!-- <div class="sort">
        <i class="fa fa-arrow-up" (click)="sortingup('up',th)"></i>
        <i class="fa fa-arrow-down" (click)="sortingup('down',th)"></i>
      </div> -->
    </div>
  </table>
</div>


<!-- Modal -->
<div [class.shoeModel]="shoeModel"  class="model">
  <app-customer-updat [showCustomerUpdate]="shoeModel" ></app-customer-updat>
</div>

